<!DOCTYPE html>
<html>
  <head>
    <title>Age</title>
  </head>
  <body>
  <form method="post" action="">
  	<label>Age: </label>
  	<input type="text" name="age">
  	<input type="submit">
  	</form>
  </body>
</html>