<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Numbers</title>
  </head>
  <body>
   	<form method="post" action="Age">
  	
  	<label>Num1: </label>
  	<input type="text" name="number 1">
  	<br>

  	<label>Num2: </label>
  	<input type="text" name="number 2">
  	<br>

  	<label>Num3: </label>
  	<input type="text" name="number 3">
  	<br>

    <input type="text" name="name" value=<%= name %> hidden>

  	<input type="submit">
  	</form>
  </body>
</html>