<!DOCTYPE html>
<html>
  <head>
    <title>Name</title>
  </head>
  <body>
   <form method="post" action="get_three_numbers">
  	<label>Name: </label>
  	<input type="text" name="name">
  	<input type="submit">
  	</form>
  </body>
</html>



