<!DOCTYPE html>
<html>
  <head>
    <title>Response</title>
  </head>
  <body>
 <!-- <form method="post" action="">
  	<label>Name: </label>
  	<input type="text" name="name">
  	<input type="submit">
  	</form> -->
  </body>
</html>